<!DOCTYPE HTML>

<HTML>
	<head>
		<title>DerpsDigitalForge</title>
		<link rel="stylesheet" type="text/css" href="styles/test.css">
		<meta charset="UTF-8">
		<meta name="description" content="DerpsDigitalForge we are tech help for you. we make graphics, manage your server and sites, make you websites, and just simple tech help.">
		<meta name="keywords" content="Derps,Digital,Forge,DerpsDigitalForge,Tech,I.T.,IT,Computer,Help,Streamers,Twitch,Website,Server Management,Help Desk,Graphics">
		<meta name="author" content="PixelForge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	<nav>
    <ul class="nav navbar-nav" id = "nav">
      <li class="active" ><a href="#">Home</a></li>
      <li><a href="#" >Info</a>
	  <ul>
	  <li><a href="#" >Members</a></li>
	  <li><a href="#" >Ordering</a></li>
	  </ul>
	  </li>
      <li><a href="#" >Media</a>
	  <ul>
	  <li><a href="#l" >Streams</a></li>
	  <li><a href="#" >Videos</a></li>
	  </ul>
	  </li>
      <li><a href="#" >More</a>
	  <ul>
	  <li><a href="#" >Contact</a></li>
	  <li><a href="#" >For Group</a></li>
	  <li><a href="#" >Server</a></li>
	  </ul>
	  </li>
    </ul>
	</nav>
<header>
<a href="#"><img src = "images/logo.png" alt ="logo image" width = "75" height = "75"/></a>
<p><h1 id = "maintitle">Welcome to</h1>
<h3 id = "mainsubtitle">DerpsDigitalForge</h3>
</p>

</header>
	<div id = "wrap">
			<div class = "body">
			
			<table>
				<tr class = "yellow">
					<td>
					<p>About Us</p>
					</td>
					
					<td>
					<p>About Us</p>
					</td>
					<td>
					<p>About Us</p>
					</td>
				</tr>
				<tr>
					<td>
					<p class = "one">
					
				</p>
					</td>
					<td>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
				</tr>
			</table>
			
			</div>
	</div>
	<footer>
		<section id = "address">
			<address>
				Written by <a href="#" title = "PixelForge">PixelForge</a>.<br> 
				Visit us at:
				<a href="#">derpsdigitalforge.com</a><br>
				Contact me at.<br>
				<a href="mailto:pixelforge@derpsdigitalforge.com" title = "PixelForge">pixelforge@derpsdigitalforge.com</a>
			</address>
		</section>
	</footer>
	</body>
</HTML>